.container{
    height: 60vh;
    width: 80vw;
    margin: 5rem auto auto;
    display: flex;
    align-items: center;
}

.fruit-component{
    width: 12rem;
    height: 12rem;
}

.fruit-block{
    border: thin solid gray;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner-style{
    border: thin solid #43CBC0;
}

.cashout-button-wrapper{
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    padding: 0.5rem;
}

.button{
    color: #FFF;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
    width: 6rem;
}

.disable-button{
    background: #D4d4d4 !important;
    cursor: default;
}

.start-button{
    background: #43CBC0;
}

.cash-out-button{
    background: #3F5469;
}

.translate-plus-x{
    transform: translate(300px)
}

.translate-minus-x{
    transform: translate(-300px)
}

.translate-plus-y{
    transform: translate(0,300px)
}

.translate-minus-y{
    transform: translate(0,-300px)
}

.start-button:hover{
    filter: brightness(95%);
}

.score-wrapper{
    width: 80vw;
    margin: auto;
}

.score{
    display:flex;
    justify-content: space-between;
    background: #F6F8FA;
    width: 88.5%;
    padding: 1rem;
}

.winner-score-style{
    color: #43CBC0;
}